@keyframes loading {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
converter > *, history > * {
  position: relative; }
  converter > *:before, history > *:before {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: lightblue;
    -webkit-transition: all 0.25s ease-out;
    /* Saf3.2+, Chrome */
    transition: all 0.25s ease-out;
    -webkit-animation-name: loading;
    animation-name: loading;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  converter > * > *, history > * > * {
    -webkit-transition: opacity 0.25s linear;
    /* Saf3.2+, Chrome */
    transition: opacity 0.25s linear; }
converter.loading > *:before, history.loading > *:before {
  display: block; }
converter.loading > * > *, history.loading > * > * {
  opacity: 0.5;
  pointer-events: none; }

.select-label {
  width: 70px; }

.result {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
