@mixin trans($property: all, $duration: 0.25s, $easing: linear){
	-webkit-transition: $property $duration $easing;  /* Saf3.2+, Chrome */
	transition: $property $duration $easing;
}

@keyframes loading {
	0% { opacity: 1; }
	50% { opacity: 0.5 }
	100% { opacity: 1; }
}

converter, history {
	> * {
		position: relative;

		&:before {
			display: none;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			transform: translate(-50%,-50%);
			z-index: 2;
			background: lightblue;
			@include trans($easing: ease-out);
			-webkit-animation-name: loading; animation-name: loading;
			-webkit-animation-duration: 3s; animation-duration: 3s;
			-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;;
		}

		> * {
			@include trans(opacity);
		}
	}

	&.loading > *{
		&:before { display: block; }

		> * {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.select-label { width: 70px; }

.result { display: inline-block; }