<section class="history">
	<div class="row">
		<div class="col-xs-12">
			<rickshaw
				rickshaw-options="options"
				rickshaw-series="series"
				rickshaw-features="features"
				ng-if="is_ready"
			></rickshaw>
		</div>
	</div>
</section>