<section class="converter">
	<form class="row">
		<div class="col-md-6 col-md-offset-3">
			<label class="form-group">
				<input type="number"
					   min="0"
					   ng-model="amount"
					   ng-model-options="input_options"
					   ng-change="updateForm()"
					   class="form-control text-center">
			</label>
			<label class="form-group select-label">
				<select ng-model="from" ng-change="updateCurrency()" class="form-control">
					<option ng-repeat="cur in currencies" value="{{cur}}">{{cur}}</option>
				</select>
			</label>
			<span>in</span>
			<label class="form-group select-label">
				<select ng-model="to" ng-change="updateCurrency()" class="form-control">
					<option ng-repeat="cur in currencies" value="{{cur}}">{{cur}}</option>
				</select>
			</label>
			<span>=</span>
		</div>
	</form>
	<div class="row-fluid">
		<pre class="result">{{result|currency:to+' '}}</pre>
	</div>
</section>